@page
@model VAP.Pages.ActivityLogModel
@{
}

<style>
    .log-entry {
        margin-bottom: 10px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>

<h3>Activity Logs</h3>
@foreach (var entry in Model.ActivityLogs)
{
    <div class="log-entry">
        <strong>@entry.Timestamp.ToString("MMMM dd, yyyy, HH:mm:ss") : </strong>
        <span>@entry.Username</span> triggered an action
        <span>"@entry.Action"</span> on detection<span>@(entry.Detections!.Contains(',') ? "s" : "")</span>
        <span>@entry.Detections</span>
    </div>
}